<nav class="navbar navbar-expand-lg navbar-fixed-top bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">MEAN RECRUTEMENT</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ngClass="isActiveTab(&#39;&#39;)" class="active"><a href="/">Accueil</a></li>
        <li *ngIf="isLoggedIn()" ngClass="isActiveTab(&#39;recruteur&#39;)"><a href="/recruteur">Recruteur</a></li>
        <li *ngIf="isLoggedIn()" ngClass="isActiveTab(&#39;candidat&#39;)"><a href="/candidat">Candidat</a></li>
        <li *ngIf="isLoggedIn()" ngClass="isActiveTab(&#39;offre&#39;)"><a href="/offre">Offre</a></li>
        <li *ngIf="!isLoggedIn()"><a href="/register">Register</a></li>
        <li *ngIf="isLoggedIn()"><a href="/profile">Profile</a></li>
      </ul>
      <div class="col-xs-6">
        <form *ngIf="!isLoggedIn()" #loginForm="ngForm" class="navbar-form navbar-right" role="login" (ngSubmit)="login(loginForm)">
          <div class="form-group" ng-class="{&#39;has-error&#39;: err}">
            <input type="text" class="form-control input-sm" placeholder="Username" name="username" ngModel="username" autocapitalize="none">
          </div>
          <div class="form-group" ng-class="{&#39;has-error&#39;: err}">
            <input type="password" class="form-control input-sm" placeholder="Password" name="password" ngModel="password" autocapitalize="none">
          </div>
          <button type="submit" class="btn btn-sm btn-success">Login</button>
        </form>
      </div>
      <ul *ngIf="isLoggedIn()" color= "#008000" class="new navbar-nav navbar-right">
        <li><p class="navbar-text">Welcome {{loggedUser.username}}</p></li>
        <li><button class="navbar-btn btn-sm btn-info" (click)="logout()">Logout</button></li>
      </ul>
    </div>
  </div>
</nav>